
/* font import from googles as prescribed by the designer */
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800&display=swap');
/*=============================== reset css for the whole page ===========================*/
html,
body,
p,
a,
ul,
li,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: inherit;
  font-family: 'Fasthand', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Serif', serif;
}  
/*==============generic css ===========================*/
.iframe{
  width:200px
}
.background{
  background-image: url(/image/silvio-kundt-Fixg8KipOg8-unsplash.jpg);
  overflow: hidden;
}
.header-top-padding{
  padding-top: 80px;
}
.br-5{
  border-radius: 5px;
}
.black{
  color: black;
}
.white{
  color: white;
}
/*========================= Home css ==========================*/
.navBar{
  z-index: 1202;
}
.Home{
  background-image: url(/image/silvio-kundt-Fixg8KipOg8-unsplash.jpg);
  min-height: 100vh;
  padding-top: 50px ;
}
.main-dot{
  position: relative;
  height: fit-content;
  display: inline;
  opacity: 0.8;
  display: inline-block;
}
.Home>section>h3{
  font-size: 20px;
}
.Home>section>h2{
  font-size: 25px;
}
.Home>section>h1{
  font-size: 40px;
}
.faq-accordion{
  width: 100%;
}

.faq-according-item .dot{
  top: -7px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -5px; /* Adjust position to be in the middle */
  left:0; /* Adjust position to be in the middle */
}
.blinking-dot{
  animation: waveAnimation 2s ease-in-out infinite; /* Adjust timing as needed */

}
.not-started{
  background-color: rgb(242, 155, 155)(201, 154, 154);
}
.completed{
  background-color: rgb(34 197 94);
}
.in-progress{
  background-color: rgb(218, 218, 33);
}
.blinking {
  transform: scale(3); /* Increase size during blinking */
  opacity: 0; /* Disappear during blinking */
}
.rotating-image {
  transition: box-shadow 0.3s ease-in-out; /* Transition for the glow effect */
  animation: rotate 3s linear infinite; /* Infinite rotation */
  cursor: pointer;
}
.explanation > hr{
  height:4px;
}
.explanation >p{
  text-align: justify;
  
}
.text-justify{
  text-align: justify;
}
.zi-1{
  z-index: 1201;
}
/* Animation for infinite rotation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes waveAnimation {
  0% {
    transform: scale(0); /* Start small */
    opacity: 0; /* Invisible */
  }
  50% {
    transform: scale(1.5); /* Increase in size */
    opacity: 0.4; /* Fully visible */
  }
  100% {
    transform: scale(0); /* Disappear */
    opacity: 0; /* Invisible */
  }
}
.footer{
  z-index: 1200;
  position: relative;
  height: fit-content;

  
}
/*====================================redux=================================*/


/*=========material ui==========*/
.search::placeholder{
  font-size: "20px";
}
.sm-show{
  visibility: visible;
}
.sm-hide{
  visibility: hidden;
}
.search-sm{
  visibility: visible;
  position: absolute;
  z-index: 1;
  width: 45%;
}
#drawerM>*{
position: absolute;
height: 60vh;
}
#content-main{
  z-index: 0;
 width: 100%;
 min-height: 60vh;
 overflow: hidden;
}

/*================ firebase =================*/
.firebase{
  position: relative;

}
.firebase-homepage{
  background: url(/image/sojourn_tracer_hd_overwatch_2-1366x768.jpg);
  background-size: repeat;
  position:relative;
  background-size: cover;
}
.expense-tracker-home{
  background: url(/image/kiriko_cool_art_hd_overwatch_2-1366x768.jpg);
  background-size: cover;
}
.movies{
  background: url(/image/kiriko_cool_art_hd_overwatch_2-1366x768.jpg);
  background-size: cover;
}
#drawerM2>*{
  position: absolute;
  top:0;
  
  }
  #drawerM2{

    position: absolute;
   
  }
  .firebase-dashboard{
    overflow: hidden;
  }
  .calculator-home{
    padding: 80px;
    min-height: 500px;
    background: url(/image/desert_landscape_featuring_sand_dunes_cacti_tranquil_oasis_providing_a_refreshing_contrast_to_the_arid_surroundings_scene_captures_hd_nature-1366x768.jpg);
    background-size: cover;
  }
/*=========break point==========*/

@media (min-width: 992px) { 
  .faq-accordion{
    width: 50vw;
    
  }
  .useContext-login{
    width: 50% !important;
  }
  .lg-hide{
    visibility: hidden;
    width: 0;
  }
  .lg-show{
    visibility: visible;
  }
 }